.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 5rem;
    margin-bottom: -15rem;
}
.c-right
{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;

}
.c-right form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}
.c-right .user
{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px  solid rgb(115, 115, 215);
    border-radius: 8px;
    font-size: 16px;

}
textarea
{
    height: 4rem!important;


}
.cblur1
{
    top: 1rem;
    left: 8rem;
}
.btn{
    width: 7rem;
    height: 3rem;
}

@media  screen and (max-width:480px) {
    .contact-form
    {
        margin-top: -10rem;
        flex-direction: column;
        gap: 5rem;
        height: 66rem;
        padding: 0;
        height: 70rem;
        gap:7rem;

    }
}